* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: url("images/cover.jpg");
  background-repeat: repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  font-family: "Mukta", sans-serif;
  height: 100%;
}
.navicon {
  display: flex;
  margin: 2em;
  justify-content: space-around;
  color: whitesmoke;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
}

.navbar a:link {
  text-decoration: none;
}
.navbar li:hover {
  background-color: rgb(231, 111, 64);
}
.head {
  background-color: black;
  height: 9em;
  text-align: center;
}
.head h1 {
  padding-top: 1em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: blanchedalmond;
}


/* This is the profile picture */
.profilePic img{
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info-section{
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}
/* This is the about me section and the technologies */
.about-me{
  width: 30%;
  background-color: lightgoldenrodyellow;
  border: 2px black solid;
  border-radius: 20%;
  padding:20px;
  

}
.technologies-page{
  background-color: lightgoldenrodyellow;
  width: 20%;
  border: 2px black solid;
  border-radius: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
  padding:20px
  
}

/* projects */

.projects-page{
  display: flex;
  flex-direction: row;
  
 
}
.projects{
  border: lime 2px solid;
  margin: 10px;
  background-color: lightgoldenrodyellow;
  padding: 20px;
  

}





/* This is the footer */
.page-footer {
  height: 100px;
  background-color: black;
  position: relative;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: blanchedalmond;
  bottom: 0;
}

.footer-icons ul {
  display: flex;
  text-align: center;
}
.footer-icons li {
  position: relative;
  display: block;
  color: grey;
  font-size: 60px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 10px 30px;
  z-index: 1;
}
.footer-icons a {
  color: rgba(221, 218, 218, 0.726);
}
.footer-icons ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #5603ad;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: 0.5s;
}

.footer-icons ul li:hover:before {
  transform: scale(1.3);
  box-shadow: 0 0 15px #8367c7;
  filter: blur(2px);
}
#envelope {
  font-size: 50px;
  margin-top: 4px;
}
