* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: url("images/cover.jpg");
  background-repeat: repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  font-family: "Mukta", sans-serif;
  height: 100%;
}
.navicon {
  display: flex;
  margin: 2em;
  justify-content: space-around;
  color: whitesmoke;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  text-transform: uppercase;
  background-color: black;
}

.navbar a:link {
  text-decoration: none;
}
.navbar li:hover {
  background-color: rgb(231, 111, 64);
}
.head {
  background-color: black;
  height: 9em;
  text-align: center;
}
.head h1 {
  padding-top: 1em;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: blanchedalmond;
}
.head h4 {
  padding-top: 1.7em;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}

/* This is the profile picture */
#profilePic {
  height: 70%;
  width: 70%;
  margin-left: 2em;
  margin-top: 20px;
  border-radius: 50%;
}
#profilePic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px blanchedalmond solid;
  border-radius: 50%;
}

/* This is the about me section and the technologies */

.fullPage {
  margin: 20px 40px 0px 20px;
  border-radius: 20px;
  /* display: flex;
  flex: 2;
  flex-flow: row wrap;
  justify-content: flex-start; */
}

.mainFront {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 400px;
  /* width: 100%; */
}
#biopage{
  background-color: blanchedalmond;
  height: 90%;
  /* width: 100%; */
}


.fullpage h3 {
  margin: 20px;
  font-size: 30px;
}
.fullpage p {
  margin: 20px;
  padding: 10px;
}
#technologiespage {
  margin-top: 15px;
  padding: 15px 0px 15px 40px;
  width: 20%;
  background-color: blanchedalmond;
}
.projects{
  margin: 20px;
  height: 100%;
  width: 20%;
  border: 2px black solid;
  flex: 1;
  background-color: blanchedalmond;;
  
  /* margin-bottom: 150px; */
}
#projectsPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  margin-bottom: 50px;
  height:50%;
  background-color:none;
}
.project-title, .project-picture, .project-description, .tech-used, .url, .github{
height:16.66%;
width: 100%;
font-weight: 500;
font-size: small;
}
.project-title h3{
  font-size: large;
  font-weight: bolder;
}




/* This is the footer */
.page-footer {
  height: 100px;
  background-color: black;
  position: relative;
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: blanchedalmond;
  bottom: 0;
}

.footer-icons ul {
  display: flex;
  text-align: center;
}
.footer-icons li {
  position: relative;
  display: block;
  color: grey;
  font-size: 60px;
  height: 60px;
  width: 60px;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 10px 30px;
  z-index: 1;
}
.footer-icons a {
  color: rgba(221, 218, 218, 0.726);
}
.footer-icons ul li::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #5603ad;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: 0.5s;
}

.footer-icons ul li:hover:before {
  transform: scale(1.3);
  box-shadow: 0 0 15px #8367c7;
  filter: blur(2px);
}
#envelope {
  font-size: 50px;
  margin-top: 4px;
}
